# For Data processing
pandas==2.0.3   
numpy==1.26.4
# For OpenAI API interaction
openai==0.27.8
# For environment variable management
python-dotenv==1.0.0 
# For JSON handling
jsonlib-python3==1.6.1
# For HTTP requests
requests==2.31.0        
# For faiss-cpu
faiss-cpu==1.10.0
fastapi
uvicorn

#to install all the dependencies listed in this file, run the following command:
# pip install -r requirements.txt
